html, body {
  min-height: 100%;
  background-color: rgba(208, 208, 208, 0.6); !important;
  font-style: oblique;
}

.shadow {
 box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.material-icons.blueColor{
  color: #3399ff;

}
.side-nav .userView .circle {
    height: 120px;
    width: 120px;
}
content {
  width: 100%;
  height: 100%;
}
.userView span {
  text-align: center;
  color: #000;
}
.userView img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav {
  background-color: #3399ff;
}
content .container{
  width: auto;
  margin-left: 250px;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

content .container:last-child{
  padding-bottom: 3% !important;
}

.waves-effect.waves-blue .waves-ripple {
  background-color: #3399ff;
}

section{
  background-color: white !important;
  border-radius: 6px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.image-box{
  padding-top: 2%;
  padding-bottom: 2%;
}

.timeline {
    /* padding-left: 30px; */
    /*margin-left: 5px;*/
    border-left: 4px;
    border-right-width: inherit;
    border-top-width: inherit;
    border-bottom-width: inherit;
    border-style: solid;
    border-color: #3399ff;
    padding-left: 17px;
    border-left-width: 5px;
}

.timeline .item{
  padding-bottom: 30px;
}

.timeline .item:first-child{
  padding-top: 4px;
}

.timeline .item:last-child{
  padding-bottom: 4px;
}

.timeline .item .workplace .company-name{
  font-size: 19px;
  padding-bottom: 5px;
  display: list-item;
  list-style-image: url("/assets/img/right-arrow.png");
  list-style-type: relative;
}



.timeline .item .workplace .position{
  font-size: 16px;
}

#WorkExperiences .timeline .item .workplace .timeframe{
  margin-bottom: 15px;
}


/* Rules for sizing the icon. */


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@media only screen and (max-width: 992px){
  nav {
    margin-left: 0px;
  }
  content .container{
    margin-left: 0px;
  }

  .side-nav .userView .circle {
      height: 90px;
      width: 90px;
  }
}
